<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="故障报修统计">fac731a9016447b981aebbf5edab7b51</ModuleID>
<Item value="2" name="列表/查看">,Statistic.aspx,</Item>
<Item value="4" name="新增">,Statistic.aspx,</Item>
<Item value="8" name="修改">,Statistic.aspx,</Item>
<Item value="16" name="删除">,Statistic.aspx,</Item>
<Item value="32" name="打印">,Statistic.aspx,</Item>
<Item value="64" name="审批">,Statistic.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
