<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="经营环境">734cfaf0a1f84427840ee9086231b432</ModuleID>
<Item value="2" name="列表/查看">,Business.aspx,</Item>
<Item value="4" name="新增">,Business.aspx,</Item>
<Item value="8" name="修改">,Business.aspx,</Item>
<Item value="16" name="删除">,Business.aspx,</Item>
<Item value="32" name="打印">,Business.aspx,</Item>
<Item value="64" name="审批">,Business.aspx,</Item>
<Item value="128" name="权限A">,Business.aspx,</Item>
<Item value="256" name="权限B">,Business.aspx,</Item>
</Permission>
</configuration>
