<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="维护核实">cd3be704f74e47d7b6810293112cf896</ModuleID>
<Item value="2" name="列表/查看">,MaintainSheetList.aspx,</Item>
<Item value="4" name="新增">,MaintainSheetList.aspx,</Item>
<Item value="8" name="修改">,MaintainSheetList.aspx,</Item>
<Item value="16" name="删除">,MaintainSheetList.aspx,</Item>
<Item value="32" name="打印">,MaintainSheetList.aspx,</Item>
<Item value="64" name="审批">,MaintainSheetList.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
