<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="故障处理满意度调查">42d43f3318b2461c8844ef8d8afea328</ModuleID>
<Item value="2" name="列表/查看">,Confirm.aspx,MalfunctionList.aspx,</Item>
<Item value="4" name="新增">,Confirm.aspx,MalfunctionList.aspx,</Item>
<Item value="8" name="修改">,Confirm.aspx,MalfunctionList.aspx,</Item>
<Item value="16" name="删除">,Confirm.aspx,MalfunctionList.aspx,</Item>
<Item value="32" name="打印">,Confirm.aspx,MalfunctionList.aspx,</Item>
<Item value="64" name="审批">,Confirm.aspx,MalfunctionList.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
