<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="设备批量导出">a70c7006173b4ba39b6e5a50734da5bc</ModuleID>
<Item value="2" name="列表/查看">,EquipmentExportList.aspx,</Item>
<Item value="4" name="新增">,EquipmentExportList.aspx,</Item>
<Item value="8" name="修改">,EquipmentExportList.aspx,</Item>
<Item value="16" name="删除">,EquipmentExportList.aspx,</Item>
<Item value="32" name="打印">,EquipmentExportList.aspx,</Item>
<Item value="64" name="审批">,EquipmentExportList.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
