<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="设备易耗品信息管理">36f16041c8bd47c592760615ea389599</ModuleID>
<Item value="2" name="列表/查看">,ConsumableEquipment.aspx,EditConsumableEquipment.aspx,ImportConsumableEquipment.aspx,ViewConsumableEquipment.aspx,</Item>
<Item value="4" name="新增">,ConsumableEquipment.aspx,EditConsumableEquipment.aspx,ImportConsumableEquipment.aspx,ViewConsumableEquipment.aspx,</Item>
<Item value="8" name="修改">,ConsumableEquipment.aspx,EditConsumableEquipment.aspx,ImportConsumableEquipment.aspx,ViewConsumableEquipment.aspx,</Item>
<Item value="16" name="删除">,ConsumableEquipment.aspx,EditConsumableEquipment.aspx,ImportConsumableEquipment.aspx,ViewConsumableEquipment.aspx,</Item>
<Item value="32" name="打印">,ConsumableEquipment.aspx,EditConsumableEquipment.aspx,ImportConsumableEquipment.aspx,ViewConsumableEquipment.aspx,</Item>
<Item value="64" name="审批">,ConsumableEquipment.aspx,EditConsumableEquipment.aspx,ImportConsumableEquipment.aspx,ViewConsumableEquipment.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
