<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="工程验收">6a3e8b70861b42f494e98d345a9e89e3</ModuleID>
<Item value="2" name="列表/查看">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
<Item value="4" name="新增">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
<Item value="8" name="修改">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
<Item value="16" name="删除">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
<Item value="32" name="打印">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
<Item value="64" name="审批">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
<Item value="128" name="权限A">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
<Item value="256" name="权限B">,CheckAccept.aspx,SpecialProjectList.aspx,</Item>
</Permission>
</configuration>
