<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="维护标准">5d7b9ed336fc4da1b7b501d050fabf63</ModuleID>
<Item value="2" name="列表/查看">,EditMaintainItem.aspx,MaintainItem.aspx,ViewMaintainItem.aspx,</Item>
<Item value="4" name="新增">,EditMaintainItem.aspx,MaintainItem.aspx,ViewMaintainItem.aspx,</Item>
<Item value="8" name="修改">,EditMaintainItem.aspx,MaintainItem.aspx,ViewMaintainItem.aspx,</Item>
<Item value="16" name="删除">,EditMaintainItem.aspx,MaintainItem.aspx,ViewMaintainItem.aspx,</Item>
<Item value="32" name="打印">,EditMaintainItem.aspx,MaintainItem.aspx,ViewMaintainItem.aspx,</Item>
<Item value="64" name="审批">,EditMaintainItem.aspx,MaintainItem.aspx,ViewMaintainItem.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
