.topmenuoff { cursor: pointer;color: #12294b; font-size: 9pt; }
.topmenuon { cursor: pointer;color: #f3b74e; font-size: 9pt;  background-color:#edeceb; }
.topmenuoff2 { cursor: pointer;color: #12294b; font-size: 9pt; }
.topmenuon2 { cursor: pointer;color: #12294b; font-size: 9pt; }

.topmenuLeft 
{
	background-image:url(../images/index/top-b4-1.gif); 
	background-position:right; 
	background-repeat:no-repeat;
	background-position:bottom; 
	width: 5px;
	height:24px;
}
.topmenuItem
{
	 background-image:url(../images/index/top-b4-b.gif);
	 background-repeat:repeat-x;
	 background-position:bottom;
	 text-align:center; 
	 width:89px;
}
.topmenuItemOn
{ 
     background-image :url(../images/index/top-b4-yellow.gif);
	 background-repeat:repeat-x;
	 background-position:bottom;
	 text-align:center; 
	 width:89px;
}
.topmenuSeperator
{
	 background-image:url(../images/index/top-b4-c.gif);
	 background-repeat:no-repeat;
	 background-position:bottom;
	 width:2px;
}
.topmenuRight
{    background-image:url(../images/index/top-b4-2.gif); 
	 background-position:left;
	 background-repeat:no-repeat;
	 background-position:bottom;
	 width: 5px;
}
.subMenuArea
{
    padding-top:10px;
    border-color:#C2D1DF;
    background-color:#F7FEFD; 
    border-style:solid; 
    border-width:1px;
}

.subMenuFirstDiv
{
    padding-left:15px;
    padding-right:30px;
    float:left;
}

.subMenuDiv
{
     padding-left:20px;
     padding-right:30px;
     float:left;
     border-left-style:dashed; 
     border-left-color:#C2D1DF; 
     border-left-width:1px;
}

.subMenuTitle
{
    color:#1e5494;	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:bolder;
}

.subMenuUlItem
{
    list-style-type:none;
    margin:0px; 
    padding:10px;
}

.subMenuItemOn
{
    cursor: pointer;
    background-color:#B8CBDE;
}

.subMenuItemOff
{
    cursor: pointer;
    background-color:inherit;
}