<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="易耗品">e8c73e1e312b4740bf5c95d33e8e6d84</ModuleID>
<Item value="2" name="列表/查看">,ApprovalEdit.aspx,DImportExpendable.aspx,EditExpendable.aspx,Expendable.aspx,ExpendableApproval.aspx,ExpendableRecord.aspx,ExportFile.aspx,ImportApproval.aspx,ImportExpendable.aspx,ImportExpendables.aspx,InOutWarehouseRecord.aspx,InWarehouse.aspx,ListFile.aspx,OutWarehouse.aspx,savedoc.aspx,Statistic.aspx,VieweApproval.aspx,ViewExpendable.aspx,</Item>
<Item value="4" name="新增">,ApprovalEdit.aspx,DImportExpendable.aspx,EditExpendable.aspx,Expendable.aspx,ExpendableApproval.aspx,ExpendableRecord.aspx,ExportFile.aspx,ImportApproval.aspx,ImportExpendable.aspx,ImportExpendables.aspx,InOutWarehouseRecord.aspx,InWarehouse.aspx,ListFile.aspx,OutWarehouse.aspx,savedoc.aspx,Statistic.aspx,VieweApproval.aspx,ViewExpendable.aspx,</Item>
<Item value="8" name="修改">,ApprovalEdit.aspx,DImportExpendable.aspx,EditExpendable.aspx,Expendable.aspx,ExpendableApproval.aspx,ExpendableRecord.aspx,ExportFile.aspx,ImportApproval.aspx,ImportExpendable.aspx,ImportExpendables.aspx,InOutWarehouseRecord.aspx,InWarehouse.aspx,ListFile.aspx,OutWarehouse.aspx,savedoc.aspx,Statistic.aspx,VieweApproval.aspx,ViewExpendable.aspx,</Item>
<Item value="16" name="删除">,ApprovalEdit.aspx,DImportExpendable.aspx,EditExpendable.aspx,Expendable.aspx,ExpendableApproval.aspx,ExpendableRecord.aspx,ExportFile.aspx,ImportApproval.aspx,ImportExpendable.aspx,ImportExpendables.aspx,InOutWarehouseRecord.aspx,InWarehouse.aspx,ListFile.aspx,OutWarehouse.aspx,savedoc.aspx,Statistic.aspx,VieweApproval.aspx,ViewExpendable.aspx,</Item>
<Item value="32" name="打印">,ApprovalEdit.aspx,DImportExpendable.aspx,EditExpendable.aspx,Expendable.aspx,ExpendableApproval.aspx,ExpendableRecord.aspx,ExportFile.aspx,ImportApproval.aspx,ImportExpendable.aspx,ImportExpendables.aspx,InOutWarehouseRecord.aspx,InWarehouse.aspx,ListFile.aspx,OutWarehouse.aspx,savedoc.aspx,Statistic.aspx,VieweApproval.aspx,ViewExpendable.aspx,</Item>
<Item value="64" name="审批">,ApprovalEdit.aspx,DImportExpendable.aspx,EditExpendable.aspx,Expendable.aspx,ExpendableApproval.aspx,ExpendableRecord.aspx,ExportFile.aspx,ImportApproval.aspx,ImportExpendable.aspx,ImportExpendables.aspx,InOutWarehouseRecord.aspx,InWarehouse.aspx,ListFile.aspx,OutWarehouse.aspx,savedoc.aspx,Statistic.aspx,VieweApproval.aspx,ViewExpendable.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
