<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="故障验收">8b00e2d4bd5e4fb0940501c0cfab7c3b</ModuleID>
<Item value="2" name="列表/查看">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
<Item value="4" name="新增">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
<Item value="8" name="修改">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
<Item value="16" name="删除">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
<Item value="32" name="打印">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
<Item value="64" name="审批">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
<Item value="128" name="权限A">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
<Item value="256" name="权限B">,CancelMalfunctionList.aspx,CancelMalfunctionSheet.aspx,CheckMalfunctionSheet.aspx,InteriorEgCheckMalfunctionSheet.aspx,InteriorEgMalfunctionCheckList.aspx,MalfunctionCheckList.aspx,MalfunctionSheetPrint.aspx,</Item>
</Permission>
</configuration>
