<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="档案录入管理">9748acb8caf7462b910b8dc2c53106bd</ModuleID>
<Item value="2" name="列表/查看">,Archives.aspx,EditArchives.aspx,EditArchivesAttachment.aspx,ViewArchives.aspx,</Item>
<Item value="4" name="新增">,Archives.aspx,EditArchives.aspx,EditArchivesAttachment.aspx,ViewArchives.aspx,</Item>
<Item value="8" name="修改">,Archives.aspx,EditArchives.aspx,EditArchivesAttachment.aspx,ViewArchives.aspx,</Item>
<Item value="16" name="删除">,Archives.aspx,EditArchives.aspx,EditArchivesAttachment.aspx,ViewArchives.aspx,</Item>
<Item value="32" name="打印">,Archives.aspx,EditArchives.aspx,EditArchivesAttachment.aspx,ViewArchives.aspx,</Item>
<Item value="64" name="审批">,Archives.aspx,EditArchives.aspx,EditArchivesAttachment.aspx,ViewArchives.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
