<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="报废审批">384185eba869472a8554916df4ea2da6</ModuleID>
<Item value="2" name="列表/查看">,Approval.aspx,ScrapApproval.aspx,</Item>
<Item value="4" name="新增">,Approval.aspx,ScrapApproval.aspx,</Item>
<Item value="8" name="修改">,Approval.aspx,ScrapApproval.aspx,</Item>
<Item value="16" name="删除">,Approval.aspx,ScrapApproval.aspx,</Item>
<Item value="32" name="打印">,Approval.aspx,ScrapApproval.aspx,</Item>
<Item value="64" name="审批">,Approval.aspx,ScrapApproval.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
