<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="经营环境">067916b8e502494a92dd550fd99a1d32</ModuleID>
<Item value="2" name="列表/查看">,warning.aspx,</Item>
<Item value="4" name="新增">,warning.aspx,</Item>
<Item value="8" name="修改">,warning.aspx,</Item>
<Item value="16" name="删除">,warning.aspx,</Item>
<Item value="32" name="打印">,warning.aspx,</Item>
<Item value="64" name="审批">,warning.aspx,</Item>
<Item value="128" name="权限A">,warning.aspx,</Item>
<Item value="256" name="权限B">,warning.aspx,</Item>
</Permission>
</configuration>
