<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="业务线提交">b59148a5aefd4357b208c3b70d5df5a7</ModuleID>
<Item value="2" name="列表/查看">,submit.aspx,</Item>
<Item value="4" name="新增">,submit.aspx,</Item>
<Item value="8" name="修改">,submit.aspx,</Item>
<Item value="16" name="删除">,submit.aspx,</Item>
<Item value="32" name="打印">,submit.aspx,</Item>
<Item value="64" name="审批">,submit.aspx,</Item>
<Item value="128" name="权限A">,submit.aspx,</Item>
<Item value="256" name="权限B">,submit.aspx,</Item>
</Permission>
</configuration>
