<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="报废登记">0c17b2793f4043ee96aeef6416d3a3a2</ModuleID>
<Item value="2" name="列表/查看">,Record.aspx,ScrapRecord.aspx,</Item>
<Item value="4" name="新增">,Record.aspx,ScrapRecord.aspx,</Item>
<Item value="8" name="修改">,Record.aspx,ScrapRecord.aspx,</Item>
<Item value="16" name="删除">,Record.aspx,ScrapRecord.aspx,</Item>
<Item value="32" name="打印">,Record.aspx,ScrapRecord.aspx,</Item>
<Item value="64" name="审批">,Record.aspx,ScrapRecord.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
