<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="批量导入">4dc6c31622a24e33bb98cd42bdcdd5be</ModuleID>
<Item value="2" name="列表/查看">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
<Item value="4" name="新增">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
<Item value="8" name="修改">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
<Item value="16" name="删除">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
<Item value="32" name="打印">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
<Item value="64" name="审批">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
<Item value="128" name="权限A">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
<Item value="256" name="权限B">,EditInWarehouse.aspx,Impotwarehouse.aspx,InWarehouse.aspx,ViewInWarehouse.aspx,</Item>
</Permission>
</configuration>
