<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="设备资产管理">d83872181c5943d49f06fadf62b9b3e4</ModuleID>
<Item value="2" name="列表/查看">,AssetAndDepreciation.aspx,</Item>
<Item value="4" name="新增">,AssetAndDepreciation.aspx,</Item>
<Item value="8" name="修改">,AssetAndDepreciation.aspx,</Item>
<Item value="16" name="删除">,AssetAndDepreciation.aspx,</Item>
<Item value="32" name="打印">,AssetAndDepreciation.aspx,</Item>
<Item value="64" name="审批">,AssetAndDepreciation.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
