<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="采购计划审批">535eadf6c7e04e3d9fb28d954e88514f</ModuleID>
<Item value="2" name="列表/查看">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
<Item value="4" name="新增">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
<Item value="8" name="修改">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
<Item value="16" name="删除">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
<Item value="32" name="打印">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
<Item value="64" name="审批">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
<Item value="128" name="权限A">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
<Item value="256" name="权限B">,ApprovalHistoryViewPurchaseOrder.aspx,ApprovalViewPurchaseOrder.aspx,PurchaseApproval.aspx,PurchaseApprovalHistory.aspx,QueryPrice.aspx,QueryStorage.aspx,</Item>
</Permission>
</configuration>
