<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="设备配套设施管理">a925eedb515047ca92ad858f6c41b5c3</ModuleID>
<Item value="2" name="列表/查看">,EditSubsidiaryEquipment.aspx,SubsidiaryEquipment.aspx,ViewSubsidiaryEquipment.aspx,</Item>
<Item value="4" name="新增">,EditSubsidiaryEquipment.aspx,SubsidiaryEquipment.aspx,ViewSubsidiaryEquipment.aspx,</Item>
<Item value="8" name="修改">,EditSubsidiaryEquipment.aspx,SubsidiaryEquipment.aspx,ViewSubsidiaryEquipment.aspx,</Item>
<Item value="16" name="删除">,EditSubsidiaryEquipment.aspx,SubsidiaryEquipment.aspx,ViewSubsidiaryEquipment.aspx,</Item>
<Item value="32" name="打印">,EditSubsidiaryEquipment.aspx,SubsidiaryEquipment.aspx,ViewSubsidiaryEquipment.aspx,</Item>
<Item value="64" name="审批">,EditSubsidiaryEquipment.aspx,SubsidiaryEquipment.aspx,ViewSubsidiaryEquipment.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
