<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="考核表">d7fe45303faa4d47aa96885897972710</ModuleID>
<Item value="2" name="列表/查看">,EditExamine.aspx,ExamineList.aspx,ViewExamine.aspx,</Item>
<Item value="4" name="新增">,EditExamine.aspx,ExamineList.aspx,ViewExamine.aspx,</Item>
<Item value="8" name="修改">,EditExamine.aspx,ExamineList.aspx,ViewExamine.aspx,</Item>
<Item value="16" name="删除">,EditExamine.aspx,ExamineList.aspx,ViewExamine.aspx,</Item>
<Item value="32" name="打印">,EditExamine.aspx,ExamineList.aspx,ViewExamine.aspx,</Item>
<Item value="64" name="审批">,EditExamine.aspx,ExamineList.aspx,ViewExamine.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
