<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="检查表填写">43c3a609509042afbb13816af4822a1a</ModuleID>
<Item value="2" name="列表/查看">,EditCheckForm.aspx,ViewWareHouseCheckForm.aspx,WareHouseCheck.aspx,</Item>
<Item value="4" name="新增">,EditCheckForm.aspx,ViewWareHouseCheckForm.aspx,WareHouseCheck.aspx,</Item>
<Item value="8" name="修改">,EditCheckForm.aspx,ViewWareHouseCheckForm.aspx,WareHouseCheck.aspx,</Item>
<Item value="16" name="删除">,EditCheckForm.aspx,ViewWareHouseCheckForm.aspx,WareHouseCheck.aspx,</Item>
<Item value="32" name="打印">,EditCheckForm.aspx,ViewWareHouseCheckForm.aspx,WareHouseCheck.aspx,</Item>
<Item value="64" name="审批">,EditCheckForm.aspx,ViewWareHouseCheckForm.aspx,WareHouseCheck.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
