<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="条形码批量打印">4ed6691ac6e04fa689b582bb202d2491</ModuleID>
<Item value="2" name="列表/查看">,DeviceList.aspx,SelectDevice.aspx,</Item>
<Item value="4" name="新增">,DeviceList.aspx,SelectDevice.aspx,</Item>
<Item value="8" name="修改">,DeviceList.aspx,SelectDevice.aspx,</Item>
<Item value="16" name="删除">,DeviceList.aspx,SelectDevice.aspx,</Item>
<Item value="32" name="打印">,DeviceList.aspx,SelectDevice.aspx,</Item>
<Item value="64" name="审批">,DeviceList.aspx,SelectDevice.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
