<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="条形码批量生成">1b853dd6f5a8491f8fa48e6d7b9e96d4</ModuleID>
<Item value="2" name="列表/查看">,BarCode.aspx,BarCodeImage.aspx,BarCodePrint.aspx,</Item>
<Item value="4" name="新增">,BarCode.aspx,BarCodeImage.aspx,BarCodePrint.aspx,</Item>
<Item value="8" name="修改">,BarCode.aspx,BarCodeImage.aspx,BarCodePrint.aspx,</Item>
<Item value="16" name="删除">,BarCode.aspx,BarCodeImage.aspx,BarCodePrint.aspx,</Item>
<Item value="32" name="打印">,BarCode.aspx,BarCodeImage.aspx,BarCodePrint.aspx,</Item>
<Item value="64" name="审批">,BarCode.aspx,BarCodeImage.aspx,BarCodePrint.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
