<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="维护登记">070b226c52a245f6ba6396c7c066c2a4</ModuleID>
<Item value="2" name="列表/查看">,EditMaintainSheet.aspx,MaintainSheetList.aspx,MaintainSheetPrint.aspx,ViewMaintainSheet.aspx,</Item>
<Item value="4" name="新增">,EditMaintainSheet.aspx,MaintainSheetList.aspx,MaintainSheetPrint.aspx,ViewMaintainSheet.aspx,</Item>
<Item value="8" name="修改">,EditMaintainSheet.aspx,MaintainSheetList.aspx,MaintainSheetPrint.aspx,ViewMaintainSheet.aspx,</Item>
<Item value="16" name="删除">,EditMaintainSheet.aspx,MaintainSheetList.aspx,MaintainSheetPrint.aspx,ViewMaintainSheet.aspx,</Item>
<Item value="32" name="打印">,EditMaintainSheet.aspx,MaintainSheetList.aspx,MaintainSheetPrint.aspx,ViewMaintainSheet.aspx,</Item>
<Item value="64" name="审批">,EditMaintainSheet.aspx,MaintainSheetList.aspx,MaintainSheetPrint.aspx,ViewMaintainSheet.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
