<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="故障审批">987efdd2bbef4d328c941d6cb3f68b09</ModuleID>
<Item value="2" name="列表/查看">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
<Item value="4" name="新增">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
<Item value="8" name="修改">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
<Item value="16" name="删除">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
<Item value="32" name="打印">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
<Item value="64" name="审批">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
<Item value="128" name="权限A">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
<Item value="256" name="权限B">,MalfunctionApprovalList.aspx,ViewApprovalMfSheet.aspx,</Item>
</Permission>
</configuration>
