<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="统计查询">76b10fbb56d94a73922dd059833cc189</ModuleID>
<Item value="2" name="列表/查看">,EquipmentStatics.aspx,</Item>
<Item value="4" name="新增">,EquipmentStatics.aspx,</Item>
<Item value="8" name="修改">,EquipmentStatics.aspx,</Item>
<Item value="16" name="删除">,EquipmentStatics.aspx,</Item>
<Item value="32" name="打印">,EquipmentStatics.aspx,</Item>
<Item value="64" name="审批">,EquipmentStatics.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
