<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="申请采购">8e8ad8a2dd6c4d2abecc78e781eba124</ModuleID>
<Item value="2" name="列表/查看">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
<Item value="4" name="新增">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
<Item value="8" name="修改">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
<Item value="16" name="删除">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
<Item value="32" name="打印">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
<Item value="64" name="审批">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
<Item value="128" name="权限A">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
<Item value="256" name="权限B">,PurchaseApply.aspx,PurchaseFinishHistory.aspx,PurchaseHistory.aspx,Select.aspx,ViewPurchaseOrder.aspx,</Item>
</Permission>
</configuration>
