<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="机电月报">6b608a3f18d740468df7660f8970a1e4</ModuleID>
<Item value="2" name="列表/查看">,Electromechanics.aspx,</Item>
<Item value="4" name="新增">,Electromechanics.aspx,</Item>
<Item value="8" name="修改">,Electromechanics.aspx,</Item>
<Item value="16" name="删除">,Electromechanics.aspx,</Item>
<Item value="32" name="打印">,Electromechanics.aspx,</Item>
<Item value="64" name="审批">,Electromechanics.aspx,</Item>
<Item value="128" name="权限A">,Electromechanics.aspx,</Item>
<Item value="256" name="权限B">,Electromechanics.aspx,</Item>
</Permission>
</configuration>
