<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="营销月报">3f7c5325408c41ba9864d1d420b19460</ModuleID>
<Item value="2" name="列表/查看">,Marketing.aspx,</Item>
<Item value="4" name="新增">,Marketing.aspx,</Item>
<Item value="8" name="修改">,Marketing.aspx,</Item>
<Item value="16" name="删除">,Marketing.aspx,</Item>
<Item value="32" name="打印">,Marketing.aspx,</Item>
<Item value="64" name="审批">,Marketing.aspx,</Item>
<Item value="128" name="权限A">,Marketing.aspx,</Item>
<Item value="256" name="权限B">,Marketing.aspx,</Item>
</Permission>
</configuration>
