<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="员工信息导入">61717aae16754a898a89e32ad9b5f16b</ModuleID>
<Item value="2" name="列表/查看">,EmployeeImport.aspx,</Item>
<Item value="4" name="新增">,EmployeeImport.aspx,</Item>
<Item value="8" name="修改">,EmployeeImport.aspx,</Item>
<Item value="16" name="删除">,EmployeeImport.aspx,</Item>
<Item value="32" name="打印">,EmployeeImport.aspx,</Item>
<Item value="64" name="审批">,EmployeeImport.aspx,</Item>
<Item value="128" name="权限A">,EmployeeImport.aspx,</Item>
<Item value="256" name="权限B">,EmployeeImport.aspx,</Item>
</Permission>
</configuration>
