<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
<ModuleID name="出库登记">645cb726208d4f85a83258f0006a25db</ModuleID>
<Item value="2" name="列表/查看">,OutWarehouseApply.aspx,OutWarehouseRecord.aspx,ViewOutWarehouseRecord.aspx,</Item>
<Item value="4" name="新增">,OutWarehouseApply.aspx,OutWarehouseRecord.aspx,ViewOutWarehouseRecord.aspx,</Item>
<Item value="8" name="修改">,OutWarehouseApply.aspx,OutWarehouseRecord.aspx,ViewOutWarehouseRecord.aspx,</Item>
<Item value="16" name="删除">,OutWarehouseApply.aspx,OutWarehouseRecord.aspx,ViewOutWarehouseRecord.aspx,</Item>
<Item value="32" name="打印">,OutWarehouseApply.aspx,OutWarehouseRecord.aspx,ViewOutWarehouseRecord.aspx,</Item>
<Item value="64" name="审批">,OutWarehouseApply.aspx,OutWarehouseRecord.aspx,ViewOutWarehouseRecord.aspx,</Item>
<Item value="128" name="权限A"></Item>
<Item value="256" name="权限B"></Item>
</Permission>
</configuration>
