<?xml version="1.0" encoding="utf-8"?>
<configuration>
<Permission>
  <!--<ModuleID name="保险信息管理">64631225388246cbba8af94b846c0736</ModuleID>-->
  <ModuleID name="保险信息管理">9dbb4d8538254efa97593a2e6d4535f1</ModuleID>
  <Item value="2" name="列表/查看">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
<Item value="4" name="新增">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
<Item value="8" name="修改">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
<Item value="16" name="删除">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
<Item value="32" name="打印">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
<Item value="64" name="审批">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
<Item value="128" name="权限A">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
<Item value="256" name="权限B">,Insurancelist.aspx,InsuranceManager.aspx,</Item>
</Permission>
</configuration>
